* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(248, 240, 210);
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

@media (min-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 35px 35px 35px;
        padding: 10px 13px;
        border-bottom: 2px solid gray;
        
    }

    .left h1 {
        font-size: 18px;
        margin: 0px;
        align-items: center;
        
    }

    .right {
        display: flex;
        gap: 50px;
    }

    .right a {
        font-size: 18px;
        text-decoration: none;
        color: black;
        align-items: center;
    }

    .menu-btn {
        display: none;
    }

    #Home {
        margin: 30px 35px;
        border: 2px solid gray;
        border-radius: 10px;
        padding: 20px 15px;
    }

    #Home h1 {
        font-size: 27px;
        margin: 0px;
    }

    #Home p {
        font-size: 17px;
        margin: 0px;
    }
}

/* quote: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */
@media (max-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px; 
        margin: 0px 35px 0px;
        border-bottom: 2px solid gray;
        flex-shrink: 0; 
    }
    
    .left h1 {
        font-size: 18px;
        margin: 0px;
    }

    .menu-btn {
        display: flex;
        justify-content: end;
    }

    .right {
        display: none;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px; 
    }

    .right.active {
        display: flex;
    }

    .right.active a {
        font-size: 18px;
        text-decoration: none;
        color: black;
    }

    #Home {
<<<<<<< HEAD
        flex: 1; 
        margin: 20px 35px; 
        padding: 20px 15px;
=======
        min-height: 84vh;
        margin: 30px 35px;
        padding: 30px 35px;
>>>>>>> parent of e88607a (a easy version)
        border: 2px solid gray;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    #Home h1 {
        font-size: 27px;
        padding: 7px 0px;
        margin: 0px;
    }

    #Home p {
        font-size: 20px;
        margin: 0px;
        padding: 7px 0px;
    }
}

