body {
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(255,255,255);
}

@media (min-width: 1024px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 35px 35px 35px;
        padding: 10px 13px;
        border-bottom: 2px solid gray;
        
    }

    .left h1 {
        font-size: 18px;
        margin: 0px;
        align-items: center;
        
    }

    .right {
        display: flex;
        gap: 50px;
    }

    .right a {
        font-size: 18px;
        text-decoration: none;
        color: black;
        align-items: center;
    }
}

@media(max-width: 1023px) {
    nav {
        margin: 35px 35px 35px;
        padding: 10px 13px;
        border-bottom: 2px solid gray;
        padding: 10px 13px;
    }

    .left h1 {
        display: none;
    }

    .right {
        display: flex;
        justify-content: space-between;
    }

    .right a {
        font-size: 18px;
        text-decoration: none;
        color: black;
        align-items: center;
    }
}

