body {
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(255,255,255);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 20px;
}

.left h1 {
    font-size: 20px;
    align-items: center;
}

.right a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    align-items: center;
}


