body {
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(255,255,255);
}

@media (min-width: 1024px) {
    nav {
        display: flex;
        justify-content: space-between;
        margin: 35px 35px 35px;
    }

    .left h1 {
        font-size: 18px;
        align-items: center;
        padding: 3px 0px;
    }

    .right {
        display: flex;
        gap: 50px;
    }

    .right a {
        font-size: 18px;
        text-decoration: none;
        color: black;
        align-items: center;
    }
}

@media(max-width: 1023px) {
    nav {
       margin: 20px 20px 20px;
    }

    .left h1 {
        font-size: 22px;
        align-items: center;
        padding: 3px 0px;
    }

    .right {
        display: flex;
        justify-content: space-between;
    }

    .right a {
        font-size: 22px;
        text-decoration: none;
        color: black;
        align-items: center;
    }
}

